{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>We provide a platform for independent thoughts to bring a revolution and inspire the world. Join us and be a part of our family.</p>
<!--        <p>Currently in Development Phase.</p>-->
        <p>ArkBlog by ArkCode @ADC.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}