  <!-- Footer -->
  <footer >
    <div class="container px-4 px-lg-5">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/i.run19/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
<!--                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>-->
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/aryan-dev-chourasia-720158211">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
<!--                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>-->
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Airan19">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <div style="text-align:center; font-weight: 400; color:grey;
                       font-size: 16px; font-family:sans-serif; line-height:2; margin-top:15px;" class="small text-center text-muted">Copyright &copy; <a style="text-decoration:underline;" href="https://arkcode.studio">ArkCode</a> 2021
          <br><button class="btn btn-dark mb-1 mt-1 py-2 px-2" style="border-radius:15px; border-bottom-left-radius: 0; border-top-right-radius: 0;" onclick="Privacy()">Privacy Policy</button>
          </div>
          <h4 style="text-align:center; font-weight: 400; color:grey; letter-spacing: 3px;
                       font-size: 12px; line-height: 4;" >A Blog Theme by Start Bootstrap</h4>
        </div>
      </div>
    </div>
  </footer>
  <script>
    function Privacy(){
    let ele = document.getElementById('iframe');

    if (ele.style.display == 'none'){
     ele.style.display = 'flex';
     }
    else {
     ele.style.display = 'none';}
    };
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>
    <div  id="iframe" style="display:none;">
      <button class="btn btn-dark mb-1 mt-1 py-2 px-2" onclick="Privacy()">Close</button>
      <iframe  src="https://www.termsfeed.com/live/679e7474-1a9d-4f15-bb32-ea9c6496c2d8" style="border:0px" name="myiFrame" scrolling="yes" frameborder="0" marginheight="5px" marginwidth="5px" height="90%" width="80%" allowfullscreen></iframe>
    </div>

</html>
